<nav>
  <div class="nav-wrapper default-color">
    <a class="brand-logo">Angular 5 App</a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a materialize="dropdown" class='dropdown-trigger' data-activates='client-dropdown'>
          <i class="material-icons left">person</i>
          Students
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
      <!-- Dropdown Structure -->
      <ul id='client-dropdown' class='dropdown-content'>
        <li>
          <a href="/student/list">
            <i class="material-icons left">format_list_bulleted</i>
            List</a>
        </li>
        <li>
          <a href="/student/create"><i class="material-icons left">add</i>Create</a>
        </li>
      </ul>
    </ul>
  </div>  
</nav>

<router-outlet></router-outlet>
